<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width">

  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    }
  </script>
  
  
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>

@import url('https://fonts.googleapis.com/css?family=Coda|Crimson+Text|Gothic+A1|M+PLUS+1p|M+PLUS+Rounded+1c|Nanum+Gothic|Nanum+Myeongjo|Noto+Sans&display=swap');

pre {
  background-color: lightgrey;
}

body {
  font-family: Crimson Text;
  font-size: 1.3rem;
}

p {
  margin-left: 2rem;
}

input {
  font-family: Crimson Text;
  font-size: 1.3rem;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.outer {
  display: grid;
}

.container {
  margin: 3rem;
}
.matrix {
  margin: 1rem;
  width: auto;
  padding: 1rem;;
  float: left;
  border: 0.1rem solid grey;
  border-collapse: collapse;
}
.explanation {

}

.tbl-explanation {
  
}
.calculation {

}

.tbl-calculation {

}

.result {
  display:grid;
  margin-left: auto;
  margin-right: auto;
}


</style>
<body>
<script>
const start = performance.now()

window.onerror = function(errorMsg, url, lineNumber){
    const error = document.getElementById("error")
    error.innerHTML = "Error in " + url + " at " + lineNumber + ":\n" + errorMsg
}
</script>

<script src="./js/matrixCalc.js"></script>
<script src="./js/matrixController.js"></script>
<script src="./js/functions.js"></script>

<h1>&#128526; MATRIX CALCULATOR</h1>
<p>This is a calculator that visualises how the transformation matrix calculations work.</p>
<p>Rotations are given in radians, refer to the unit circle for values. 2&pi; is one full rotation.</p>
<p>Scaling has been given a default value of 1, 1, 1 to keep it from nulling out all other operations.</p>
<div ng-app="matrixCalc" ng-controller="matrixCtrl">
<div class="outer">
  <div class="container">

    <div class="matrix">
      <div class="explanation">
        <p><b>$translation(x, y, z)$</b> $ = \begin{pmatrix} 1 & 0 & 0 & x \\ 0 & 1 & 0 & y \\ 0 & 0 & 1 & z \\ 0 & 0 & 0 & 1 \end{pmatrix}$</p>
      </div>
      <div class="calculation">
        <p>$translation($<input size="2" type="text" ng-model="trx">, <input size="2" type="text" ng-model="try">, <input size="2" type="text" ng-model="trz">$)$</p>
        <table class = "tbl-calculation">
          <tr><td>{{tra()[0]}}</td><td>{{tra()[1]}}</td><td>{{tra()[2]}}</td><td>{{tra()[3]}}</td></tr>
          <tr><td>{{tra()[4]}}</td><td>{{tra()[5]}}</td><td>{{tra()[6]}}</td><td>{{tra()[7]}}</td></tr>
          <tr><td>{{tra()[8]}}</td><td>{{tra()[9]}}</td><td>{{tra()[10]}}</td><td>{{tra()[11]}}</td></tr>
          <tr><td>{{tra()[12]}}</td><td>{{tra()[13]}}</td><td>{{tra()[14]}}</td><td>{{tra()[15]}}</td></tr>
        </table>
      </div>
    </div>


    <div class="matrix">
      <div class="explanation">
        <p><b>$scaling(x, y, z)$</b> $ = \begin{pmatrix} x & 0 & 0 & 0 \\ 0 & y & 0 & 0 \\ 0 & 0 & z & 0 \\ 0 & 0 & 0 & 1 \end{pmatrix}$</p>
      </div>
      <div class="calculation">
        <p>$scaling($<input size="2" type="text" ng-model="scx">, <input size="2" type="text" ng-model="scy">, <input size="2" type="text" ng-model="scz">$)$</p>
        <table class = "tbl-calculation">
          <tr><td>{{sca()[0]}}</td><td>{{sca()[1]}}</td><td>{{sca()[2]}}</td><td>{{sca()[3]}}</td></tr>
          <tr><td>{{sca()[4]}}</td><td>{{sca()[5]}}</td><td>{{sca()[6]}}</td><td>{{sca()[7]}}</td></tr>
          <tr><td>{{sca()[8]}}</td><td>{{sca()[9]}}</td><td>{{sca()[10]}}</td><td>{{sca()[11]}}</td></tr>
          <tr><td>{{sca()[12]}}</td><td>{{sca()[13]}}</td><td>{{sca()[14]}}</td><td>{{sca()[15]}}</td></tr>
        </table>
      </div>
    </div>


    <div class="matrix">
      <div class="explanation">
        <p><b>$rotation\_x(rad)$</b> $ = \begin{pmatrix} 1 & 0 & 0 & 0 \\ 0 & cos(rad) & -sin(rad) & 0 \\ 0 & sin(rad) & cos(rad) & 0 \\ 0 & 0 & 0 & 1 \end{pmatrix}$</p>
      </div>
      <div class="calculation">
        <p>$rotation\_x($<input size="2" type="text" ng-model="rotx">$)$</p>
        <table class = "tbl-calculation">
          <tr><td>{{rotxc()[0]}}</td><td>{{rotxc()[1]}}</td><td>{{rotxc()[2]}}</td><td>{{rotxc()[3]}}</td></tr>
          <tr><td>{{rotxc()[4]}}</td><td>{{rotxc()[5]}}</td><td>{{rotxc()[6]}}</td><td>{{rotxc()[7]}}</td></tr>
          <tr><td>{{rotxc()[8]}}</td><td>{{rotxc()[9]}}</td><td>{{rotxc()[10]}}</td><td>{{rotxc()[11]}}</td></tr>
          <tr><td>{{rotxc()[12]}}</td><td>{{rotxc()[13]}}</td><td>{{rotxc()[14]}}</td><td>{{rotxc()[15]}}</td></tr>
        </table>
      </div>
    </div>

    <div class="matrix">
      <div class="explanation">
        <p><b>$rotation\_y(rad)$</b> $ = \begin{pmatrix} cos(rad) & 0 & sin(rad) & 0 \\ 0 & 1 & 0 & 0 \\ -sin(rad) & 0 & cos(rad) & 0 \\ 0 & 0 & 0 & 1 \end{pmatrix}$</p>

      </div>
      <div class="calculation">
        <p>$rotation\_y($<input size="2" type="text" ng-model="roty">$)$</p>
        <table class = "tbl-calculation">
          <tr><td>{{rotyc()[0]}}</td><td>{{rotyc()[1]}}</td><td>{{rotyc()[2]}}</td><td>{{rotyc()[3]}}</td></tr>
          <tr><td>{{rotyc()[4]}}</td><td>{{rotyc()[5]}}</td><td>{{rotyc()[6]}}</td><td>{{rotyc()[7]}}</td></tr>
          <tr><td>{{rotyc()[8]}}</td><td>{{rotyc()[9]}}</td><td>{{rotyc()[10]}}</td><td>{{rotyc()[11]}}</td></tr>
          <tr><td>{{rotyc()[12]}}</td><td>{{rotyc()[13]}}</td><td>{{rotyc()[14]}}</td><td>{{rotyc()[15]}}</td></tr>
        </table>
      </div>
    </div>

    <div class="matrix">
      <div class="explanation">
        <p><b>$rotation\_z(rad)$</b> $ = \begin{pmatrix} cos(rad) & -sin(rad) & 0 & 0 \\ sin(rad) & cos(rad) & 0 & 0 \\ 0 & 0 & 1 & 0 \\ 0 & 0 & 0 & 1 \end{pmatrix}$</p>
      </div>
      <div class="calculation">
        <p>$rotation\_z$(<input size="2" type="text" ng-model="rotz">$)$</p>
        <table class = "tbl-calculation">
          <tr><td>{{rotzc()[0]}}</td><td>{{rotzc()[1]}}</td><td>{{rotzc()[2]}}</td><td>{{rotzc()[3]}}</td></tr>
          <tr><td>{{rotzc()[4]}}</td><td>{{rotzc()[5]}}</td><td>{{rotzc()[6]}}</td><td>{{rotzc()[7]}}</td></tr>
          <tr><td>{{rotzc()[8]}}</td><td>{{rotzc()[9]}}</td><td>{{rotzc()[10]}}</td><td>{{rotzc()[11]}}</td></tr>
          <tr><td>{{rotzc()[12]}}</td><td>{{rotzc()[13]}}</td><td>{{rotzc()[14]}}</td><td>{{rotzc()[15]}}</td></tr>
        </table>
      </div>
    </div>

    <div class="matrix">
      <div class="explanation">
        <p><b>$shearing(x_y, x_z, y_x, y_z, z_x, z_y)$</b> $ = \begin{pmatrix} 1 & x_y & x_z & 0 \\ y_x & 1 & y_z & 0 \\ z_x & z_y & 1 & 0 \\ 0 & 0 & 0 & 1 \end{pmatrix}$</p>
      </div>
      <div class="calculation">
        <p>$shearing($<input size="1" type="text" ng-model="xy">, <input size="1" type="text" ng-model="xz">, <input size="1" type="text" ng-model="yx">, <input size="1" type="text" ng-model="yz">, <input size="1" type="text" ng-model="zx">, <input size="1" type="text" ng-model="zy">$)$</p>
        <table class = "tbl-calculation">
          <tr><td>{{shec()[0]}}</td><td>{{shec()[1]}}</td><td>{{shec()[2]}}</td><td>{{shec()[3]}}</td></tr>
          <tr><td>{{shec()[4]}}</td><td>{{shec()[5]}}</td><td>{{shec()[6]}}</td><td>{{shec()[7]}}</td></tr>
          <tr><td>{{shec()[8]}}</td><td>{{shec()[9]}}</td><td>{{shec()[10]}}</td><td>{{shec()[11]}}</td></tr>
          <tr><td>{{shec()[12]}}</td><td>{{shec()[13]}}</td><td>{{shec()[14]}}</td><td>{{shec()[15]}}</td></tr>
        </table>
      </div>
    </div> 
</div>
    <div class="result">
      <p><b>Resulting transformation matrix</b></p>
      <table class = "tbl-calculation">
        <tr><td>{{res()[0]}}</td><td>{{res()[1]}}</td><td>{{res()[2]}}</td><td>{{res()[3]}}</td></tr>
        <tr><td>{{res()[4]}}</td><td>{{res()[5]}}</td><td>{{res()[6]}}</td><td>{{res()[7]}}</td></tr>
        <tr><td>{{res()[8]}}</td><td>{{res()[9]}}</td><td>{{res()[10]}}</td><td>{{res()[11]}}</td></tr>
        <tr><td>{{res()[12]}}</td><td>{{res()[13]}}</td><td>{{res()[14]}}</td><td>{{res()[15]}}</td></tr>
      </table>
    </div>

  </div>
</div>
<p id="perf"></p>
<pre id="error"></pre>



<script>
// *** TRANSFORMATION MATRIX CALCULATOR

// Using functions.js, we can visualise how matrix calculations work.

// Performance counter



// Performance measurement
const end = performance.now()
const elapsed = end - start
const cumulated_id = "matrix_calculator_running_time"
const numberOfRuns_id = "matrix_calculator_runs"

const cumulated = localStorage.getItem(cumulated_id)
const runs = localStorage.getItem(numberOfRuns_id)

localStorage.setItem(numberOfRuns_id, Number(runs) + 1)
localStorage.setItem(cumulated_id, Number(cumulated) + elapsed)

log("perf", "Calculation running time: " + Math.round(elapsed) + " ms.")
log("perf", "Average running time: " + (cumulated / runs).toFixed(4) + " ms.")
</script>

</body>

</html>